@model dynamic

<div class="clearfix">

    <h2>
        Track time
    </h2>
    <a ng-click="$event.preventDefault(); recalculateAll();"
       href="#">
        Recalculate All
        <span ng-if="recalculateAll.isLoading"> ... in progress </span>
    </a>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="user-statistics pull-right">
            <span ng-if="statistics.isLoading">LOADING..</span>
            {{statistics.value | json}}
        </div>
        <form class="form-inline">
            <div class="form-group">
                <label>Date</label>
                <input class="form-control"
                       ng-model="date"
                       ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
                       type="text"/>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div>
            <div class="col-md-2 time-track-grid-header">
                
            </div>
            <div class="col-md-10">
                <div class="col-container">
                    <div class="col-weekday time-track-grid-header"
                         ng-repeat="d in dateRange()" ng-bind="d">
                    </div>
                </div>
            </div>
        </div>

        <div ng-repeat="project in projectTime track by project.projectId">
            <div class="col-md-2"
                 ng-bind="project.projectTitle">
            </div>
            <div class="col-md-10">
                <div class="col-container">
                    <div class="col-weekday"
                         ng-repeat="time in project.time">
                        <div class="time-cell"
                             ng-controller="timeCellController"
                             ng-init="project=project;cell=time;">
                            
                            <div class="time-cell__state-indicator">
                                <span class="time-cell_glyph error glyphicon glyphicon-minus-sign"
                                      ng-if="trackTime.isError"
                                      title="{{trackTime.error.message}}">
                                </span>
                                <span class="time-cell_glyph glyphicon glyphicon-refresh"
                                      ng-if="trackTime.isLoading">
                                </span>
                            </div>

                            <div class="time-cell__input-wrapper">
                                <input class="time-cell__input"
                                       ng-model="cell.hours"
                                       ng-model-options="{ updateOn: 'default blur', debounce: {'default': 1000, 'blur': 0} }"
                                       type="text"
                                       title="{{project.projectTitle}}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>