@model dynamic

<div class="clearfix">

    <h2>
        Track time
    </h2>
    <a ng-click="$event.preventDefault(); recalculateAll();"
       href="#">
        Recalculate All
        <span ng-if="recalculateAll.isLoading"> ... in progress </span>
    </a>
</div>
<div class="user-statistics__container"
     ng-controller="statisticsController">
    <div class="user-statistics">
        <p class="user-statistics__value"
           ng-if="statistics.value">
            Total hours: {{statistics.value.totalHours}}
        </p>
        <p class="user-statistics__value"
           ng-if="statistics.value">
            Total earnings: ${{statistics.value.totalEarnings}}
        </p>
        <span ng-if="statistics.isLoading">LOADING..</span>
    </div>

</div>
<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-inline">
            <div class="form-group">
                <label>Date</label>
                <input class="form-control"
                       ng-model="at"
                       ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
                       type="text" />
            </div>
        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
                <tr>

                    <th>

                    </th>
                    <th ng-repeat="d in dates" ng-bind="dateService.formatDay(d)">

                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="project in data.projects track by project.id">

                    <td ng-bind="project.name"></td>
                    <td ng-repeat="d in dates"
                        ng-init="project=project;cell=cell(project.id, d);"
                        ng-include="urls.templates.timeCell">

                    </td>
                    <td class="time-sum">
                        {{totalHoursForProject(project.id)}}hrs
                    </td>
                </tr>

            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td class="time-sum"
                        ng-repeat="d in dates" ng-bind="totalHoursAt(d)"></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>