@model dynamic


<table class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            <th ng-repeat="d in dates" ng-bind="dateService.formatDay(d)"></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="project in data.projects track by project.id">
            <td class="h4"
                ng-bind="project.name"></td>
            <td ng-repeat="d in dates"
                ng-init="project=project;cell=cell(project.id, d);"
                ng-include="urls.templates.timeCell"></td>
            <td class="text-muted">
                {{totalHours({projectId: project.id, userId: data.currentUserId })}}hrs
            </td>
        </tr>

    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td class="text-muted"
                ng-repeat="d in dates">
                {{totalHours({userId: data.currentUserId, at: d })}}hrs
            </td>
            <td></td>
        </tr>
    </tfoot>
</table>