@model dynamic

<div class="clearfix user-statistics__container">
    <div class="user-statistics"
         ng-controller="statisticsController">
        <div class="user-statistics__value">
            Total hours: {{statistics.value.totalHours}}
        </div>
        <div class="user-statistics__value">
            Total earnings: ${{statistics.value.totalEarnings}}
        </div>
    </div>
    <h2>
        Track time
    </h2>
</div>
<ul class="nav nav-pills section">
    <li ui-sref-active="active">
        <a ui-sref="track-time.my({ at: at })">My Time</a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="track-time.users({ at: at })">Report for other users</a>
    </li>

</ul>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="clearfix">
            <div class="col-lg-1 col-sm-1 h4">Date</div>
            <div class="col-lg-3 col-sm-3">
                <input class="form-control"
                       ng-model="at"
                       ng-model-options="modelOptions"
                       type="text" />
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <ui-view />
    </div>
</div>
<script type="text/ng-template" id="dates-header">

    <div class="col-lg-9 col-lg-offset-2 col-md-12 col-sm-12 col-xs-12">
        <div class="date-range mon-wed">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 h5"
                 ng-repeat="d in dates.slice(0, 4)">
                <span class="visible-lg">
                    {{dateService.formatDay(d)}}
                </span>
                <span class="visible-md visible-sm">
                    {{dateService.format(d,'DD MMM')}}
                </span>
                <span class="visible-xs">
                    {{dateService.format(d,'DD')}}
                </span>
            </div>
        </div>
        <div class="date-range thu-sun">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 h5"
                 ng-repeat="d in dates.slice(4, 7)">
                <span class="visible-lg">
                    {{dateService.formatDay(d)}}
                </span>
                <span class="visible-md visible-sm">
                    {{dateService.format(d,'DD MMM')}}
                </span>
                <span class="visible-xs">
                    {{dateService.format(d,'DD')}}
                </span>
            </div>
        </div>
    </div>
</script>