@model dynamic

<div ng-repeat="user in data.users">
    <h3>{{user.displayName}}</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th></th>
            <th ng-repeat="d in dates" ng-bind="dateService.formatDay(d)"></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="project in projectsForUser(user.id) track by project.id">
            <td ng-bind="project.name"></td>
            <td ng-repeat="d in dates"
                ng-init="project=project;cell=cell(project.id, d, user.id);"
                ng-include="urls.templates.timeCell"></td>
            <td class="time-sum">
                {{totalHoursForProject(project.id)}}hrs
            </td>
        </tr>

        </tbody>
        <tfoot>
        <tr>
            <td></td>
            <td class="time-sum"
                ng-repeat="d in dates">
                {{totalHoursAt(d)}}hrs
            </td>
            <td></td>
        </tr>
        </tfoot>
    </table>
</div>