/lance-track.v12.suo
/LanceTrack.Domain/bin
/LanceTrack.Domain/obj
/packages/
/database/LanceTrack.Database/bin
/database/LanceTrack.Database/obj
/database/LanceTrack.Database/LanceTrack.Database.sqlproj.user
/LanceTrack.DataAccess/bin
/LanceTrack.DataAccess/obj
/LanceTrack.Server/bin
/LanceTrack.Server/obj
/LanceTrack.Web/bin
/LanceTrack.Web/obj
*.user
/bower_components
/database/LanceTrack.Database/LanceTrack.Database.dbmdl
/LanceTrack.Server.Dependencies/bin
/LanceTrack.Server.Dependencies/obj
/LanceTrack.Cqrs/bin
/LanceTrack.Cqrs/obj
/LanceTrack.Server.Cqrs/bin
/LanceTrack.Server.Cqrs/obj
