@import "../../Shared/styles/vars.less";

.time-track-grid-header {
    font-weight: bold;
}

.time-row {
    margin-bottom: 1em;
}



.time-cell {
    &__container {
        position: relative;
    }

    &__status-container {
        float: right;
        margin-left: 0.2em;

        & * {
            vertical-align: middle;
        }
    }

    &__editor-container {
        overflow: hidden;
        padding: 2px;
        position: relative;
        top: -5px;
    }

    &__editor {                
        border: 0 none !important;
        border-radius: 0.3em !important;
        padding: 0.3em;
        margin: 2px;
        display:block;        
        width: 100% !important;

        &:focus {
            border: 2px solid;
            border-color: @accent-color;
        }
    }

    &__indicator {
        height: 1.4em;
        right: 0.3em;
    }
}

.date-range {
    float: left;   

    &.mon-wed {
        width: 57.14%;
    }

    &.thu-sun {
        width: 42.85%;
    }
}
.col-mixin({
    padding-top: 0.1em;
    padding-bottom: 0.1em;
});
@media (max-width:1170px) {

    .col-mixin({
        padding-left: 0.1em !important;
        padding-right: 0.1em !important;
    });
}

