@import "../../Shared/styles/vars.less";

.time-track-grid-header {
    font-weight: bold;
}

.time-cell {
    overflow: visible;
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;

    .time-cell__inner {
    }
}

@statSize: 1rem;

.user-statistics {
    border-radius: @statSize;
    border: @statSize/2 solid #fa8719;
    padding: @statSize;
    font-size: @statSize *2;
    position: absolute;
    right: 100%;
    margin-right: 1rem;

    @media (max-width: @large-screen) {
        position: static;
        float: right;

        &__value {
            float: left;
            margin-right: 2em;
        }
    }

    &__container {
        position: relative;
    }

    &__value {
        white-space: nowrap;
    }
}
