@model dynamic
@{
    var userColumn = "col-md-3 col-sm-5 col-xs-5 ";
    var hoursColumn = "col-md-2 col-sm-4 col-xs-4";
    var maxHoursColumn = "col-md-2 col-sm-3 col-xs-3";
    var sumColumn = "col-md-2 col-sm-12 col-xs-12";
}

<div class="clearfix">
    <h2 class="text-primary">
        Prepare invoice
    </h2>
</div>
<div class="panel panel-default"
     ng-if="isBillable()">
    <div class="panel-body">
        <div class="alert alert-danger"
             ng-if="error">
            {{error.message}}
        </div>
        <div class="form-horizontal">
            <div class="form-group h4">
                <p class="@userColumn form-control-static">
                    Project
                </p>
                <div class="@hoursColumn form-control-static text-primary">
                    {{data.project.name}}
                </div>
            </div>
            <div class="form-group small visible-lg visible-md">
                <p class="@userColumn form-control-static text-muted">User</p>
                <p class="@hoursColumn form-control-static text-muted">Hours</p>
                <p class="@maxHoursColumn form-control-static text-muted">Max hours</p>
                <p class="@sumColumn form-control-static text-muted">Sum</p>
            </div>
            <div class="form-group"
                 ng-repeat="userTime in data.invoice track by userTime.userId">
                <p class="@userColumn form-control-static">
                    {{user(userTime.userId).displayName}}
                </p>
                <div class="@hoursColumn">
                    <input class="form-control"
                           ng-model="userTime.billingHours"
                           ng-model-options="modelOptions"
                           type="text"/>

                </div>
                <div class="@maxHoursColumn">
                    <p class="form-control-static">
                        hrs of {{userTime.maxHours}}hrs max
                    </p>
                </div>
                <p class="@sumColumn form-control-static text-primary">
                    {{userTime.sum | currency }}
                </p>
            </div>
            <div class="form-group h4">
                <p class="col-md-offset-5 col-md-2 col-md-2 col-sm-5 col-xs-5">
                    Total hours:
                </p>
                <p class="col-md-2 col-sm-5 col-xs-5">{{totalHours() | hours}}</p>
            </div>
            <div class="form-group h4 text-primary">
                <p class="col-md-offset-5 col-md-2 col-sm-5 col-xs-5">
                    Total sum:
                </p>
                <p class="col-md-2 col-sm-5 col-xs-5">{{totalSum() | currency}}</p>
            </div>
            <div class="form-group">
                <div class="col-lg-12 col-sm-12">
                    <button class="btn btn-lg btn-primary"
                            ng-click="bill()"
                            type="button">
                        Create invoice
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="alert alert-warning"
     ng-if="!isBillable() && data">
    All hours for the project has been billed. Go to <a class="text-primary" ui-sref="track-time.users">track time</a> and report more work.
</div>