@model dynamic

<div class="clearfix">
    <h2>Invoices</h2>
</div>
<ul class="nav nav-pills section">
    <li ui-sref-active="active">
        <a ui-sref="invoices.pending">Pending invoices</a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="invoices.archive">Archive</a>
    </li>
</ul>
<ui-view/>
